{% extends 'base.html' %}


{% block content %}

    <section id="register-page" class="content auth">
        <form id="register" method="POST" action="{% url 'create profile' %}">
            <div class="container">

                <h1>Create Profile</h1>

                {% csrf_token %}

                {% for field in form %}
                    <p>{{ field.label_tag }}</p>
                    <p>{{ field }}</p>
                    {% for error in field.errors %}
                        <div class="ui error message">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endfor %}

                <input class="btn submit" type="submit" value="Create Profile">
            </div>
            <div class="container">
                <p>Have account?<a href="{% url 'login profile' %}">Log in</a></p>
            </div>
        </form>
    </section>

{% endblock %}