{% extends 'base.html' %}
{% block content %}

    <section id="create-page" class="auth">

        <div class="container">
            <h1>Are you sure you want to delete your profile?</h1>

            <form id='delete' method="POST" action="{% url 'delete profile' pk=request.user.pk %}">
                {% if user.is_authenticated and object.pk == request.user.id or user.is_superuser %}
                {{ form }}
                {% csrf_token %}

                <input class="btn submit" type="submit" value="Yes">
                <a class="delete-btn" href="javascript:history.back()">Go Back</a>
                {% endif %}

            </form>
        </div>

    </section>

{% endblock %}
