{% extends 'base.html' %}
{% block content %}

    <section id="create-page" class="auth">
        <form id="create" method="POST" action="{% url 'edit contact us' %}">
            <div class="container">

                <h1>Edit Contacts</h1>
                {% if user.is_superuser %}
                {{ form }}
                {% csrf_token %}
                <input class="btn submit" type="submit" value="Edit info">
                {% endif %}
            </div>
        </form>
    </section>

{% endblock %}