{% extends 'base.html' %}
{% block content %}

    <section id="delete-page" class="auth">
        <form id="delete" method="POST" action="{% url 'product buy' pk=product.pk %}">
            <div class="container">

                <h1>Delivery address</h1>
                {% if user.is_authenticated %}

                {{ form }}
                {% csrf_token %}

                <input class="btn submit" type="submit" value="Buy">
                {% endif %}

            </div>
        </form>
    </section>

{% endblock %}